/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
} */
/*убрали дефолтные стили*/

:root {
  --text-color-white: #ffffff;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --accent-color: #2196f3;
  --text-color-auth-nav: rgba(255, 255, 255, 0.6);
  --text-color-black-logo: #000000;
  --background-color-gray: #2f303a;
  --background-color-bottom: #f5f4fa;
  --border-color: #ececec;
  --border-color-projects: #eeeeee;
  --icon-color: #afb1b8;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*общие стили для index.html */

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  background-color: var(--text-color-white);
}

.white-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--text-color-white);
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

/*шапка сайта*/

/* .container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  align-items: center;
  display: flex;
  height: 80px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  display: flex;
}
.studio-logo {
  color: var(--text-color-black-logo);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav-link:not(:last-child) {
  margin-right: 50px;
}
.site-nav-link {
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;

  transition: color 250ms var(--timing-function);
}
.current-link {
  color: var(--accent-color);
}

.current-link::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 44px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
} */

/* перенесла в сасс */

/* .contact-link {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color-grey);
  align-items: center;

  transition: color 250ms var(--timing-function);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.icon-mail:hover {
  color: var(--accent-color);
} */

/* секция герой  */
/* .hero {
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-color: var(--background-color-gray);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-white);
  margin-bottom: 30px;
} */

/* секция особенности и чем мы занимаемся */

/* .title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* .about-us,
.team,
.clients {
  padding: 94px 0;
} */
/*
.about-us-list {
  display: flex;
  margin-bottom: 94px;
}
.about-us-list li {
  width: 270px;
}
.about-us-list li:not(:last-child) {
  margin-right: 30px;
}

.about-us-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-us-list li::before {
  display: block;
  content: '';
  height: 120px;
  background-color: var(--background-color-bottom);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.about-us-list li:nth-child(1)::before {
  background-image: url(../images/icons/antenna.svg);
}
.about-us-list li:nth-child(2)::before {
  background-image: url(../images/icons/clock.svg);
}
.about-us-list li:nth-child(3)::before {
  background-image: url(../images/icons/diagram.svg);
}
.about-us-list li:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.svg);
}

.about-us-text {
  line-height: 1.71;
  color: var(--text-color-grey);
} */

/* .what-we-do-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
} */
/* .what-we-do-list {
  display: flex;
}
.what-we-do-list li:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-img {
  width: 370px;
  height: 294px;
}
.what-we-do-list li {
  display: flex;
  position: relative;
}

.what-we-do-list h3 {
  padding: 27px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
} */
/* секция наша команда */

/* .team {
  background-color: #f5f4fa;
} */
/* .clients-list,
.team-list {
  display: flex;
}
.clients-list li,
.team-list > li:not(:last-child) {
  margin-right: 30px;
} */
/* 
.team-list > li {
  background-color: var(--text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.photo {
  width: 270px;
  margin-bottom: 30px;
}
.team-worker {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  color: var(--text-color-grey);
  text-align: center;
  margin-bottom: 16px;
}
.worker-social-links {
  display: flex;
  margin: 0 32px 30px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.social-link:hover {
  color: var(--text-color-white);
  background-color: var(--accent-color);
}
.worker-social-links li:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: currentColor;
} */

/* секция постоянные клиеннты */

/* .clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;
  background-position: center;

  transition: color 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-logo {
  fill: currentColor;
}
.clients-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
} */

/* футер */

/* .footer {
  background-color: var(--background-color-gray);
  padding: 60px 0;
}
.footer-nav {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .studio-logo {
  color: var(--text-color-white);
}
.footer-auth-nav .link {
  line-height: 1.71;
  color: var(--text-color-auth-nav);
  font-style: normal;
}
.footer-auth-nav li:not(:last-child) {
  margin-bottom: 9px;
}
.footer-auth-nav .address {
  color: var(--text-color-white);
} */
/* .footer-social-links {
  margin-left: 70px;
}
.footer-social-links .white-title,
.footer-form .white-title {
  margin-bottom: 20px;
}
.social-links-list {
  display: flex;
}
.social-links-list .link {
  display: block;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.social-links-list .instagram {
  background-image: url(../images/icons/instagram.svg);
  transition: background-color 250ms var(--timing-function);
}
.social-links-list .twitter {
  background-image: url(../images/icons/twitter.svg);
  transition: background-color 250ms var(--timing-function);
}
.social-links-list .facebook {
  background-image: url(../images/icons/facebook.svg);
  transition: background-color 250ms var(--timing-function);
}
.social-links-list .linkedin {
  background-image: url(../images/icons/linkedin.svg);
  transition: background-color 250ms var(--timing-function);
}
.social-links-list .instagram:hover,
.social-links-list .twitter:hover,
.social-links-list .facebook:hover,
.social-links-list .linkedin:hover {
  background-color: var(--accent-color);
}
.social-links-list .item:not(:last-child) {
  margin-right: 10px;
} */

/* оформление формы в футере */

.footer-form {
  margin-left: 93px;
}
.footer-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 28px;
}
.footer-btn svg {
  margin-left: 10px;
  fill: var(--text-color-white);
}

/* оформление для модального окна */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}
.modal {
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: inherit;
}

.icon-close {
  fill: var(--text-color-black-logo);

  transition: fill 250ms var(--timing-function);
}

.icon-close:hover,
.icon-close:focus {
  fill: var(--accent-color);
}

/* оформление формы для модального окна */

.form-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.form-field {
  position: relative;
  display: block;
  width: 448px;
}
.form-field:not(:first-child) {
  margin-top: 10px;
}
.form-field p {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color-grey);
}
.form-input {
  padding: 12px 12px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}
.form-input:focus {
  border-color: #2196f3;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  fill: currentColor;

  transition: color 250ms var(--timing-function);
}
.icon-man {
  padding: 3px;
}

.form-input:focus + .input-icon {
  color: var(--accent-color);
}

.form-field textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  resize: none;
}
.form-field textarea::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-content::before {
  display: inline-flex;
  margin-right: 7px;
  content: '';
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--text-color-black);

  transition: border-color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}
.checkbox:checked + ::before {
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icons/check.svg);
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox-content {
  display: inline-block;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  margin-bottom: 30px;
}
.agreement-terms {
  color: var(--accent-color);
  text-decoration: underline;
}
.form > .btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* оформление для сайта портфолио */

.our-works {
  padding: 94px 0;
  border-top: 1px solid var(--border-color);
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--background-color-bottom);
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.icon:not(:last-child) {
  margin-right: 8px;
}
.current.button-icon,
.button-icon:hover,
.button-icon:focus {
  background-color: var(--accent-color);
  color: var(--text-color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project {
  display: flex;
  flex-wrap: wrap;
}

.project .item {
  overflow: hidden;
  width: 370px;
  margin: 0px 30px 30px 0px;

  transition: box-shadow 250ms var(--timing-function);
}
.prject-img-text {
  display: flex;
  position: relative;
  overflow: hidden;
}
.pop-up-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 156%;
  color: var(--text-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  transform: translateY(100%);

  transition: transform 250ms var(--timing-function);
}
.project > .item:hover .pop-up-text,
.project > .item:focus .pop-up-text {
  transform: translateY(0);
}
.project .item:nth-child(3n + 3) {
  margin-right: 0px;
}
.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project .item:hover,
.project .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project .content {
  border-bottom: 1px solid var(--border-color-projects);
  border-right: 1px solid var(--border-color-projects);
  border-left: 1px solid var(--border-color-projects);
  padding: 20px 24px;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-grey);
}
