.about-us {
  padding: 94px 0;
}
.about-us-list {
  display: flex;
  margin-bottom: 94px;
}
.about-us-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &::before {
    display: block;
    content: '';
    height: 120px;
    background-color: $background-color-bottom;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
  &:nth-child(1)::before {
    background-image: url(../images/icons/antenna.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/icons/clock.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/icons/diagram.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/icons/astronaut.svg);
  }
}

.about-us-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-us-text {
  line-height: 1.71;
  color: $text-color-grey;
}
.features-title {
  @extend %section-title;
  margin-bottom: 50px;
}
.features-list {
  display: flex;
}
.features-item {
  display: flex;
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features-img {
  width: 370px;
  height: 294px;
}
.features-img-caption {
  @extend %white-title;
  padding: 27px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}
